.input {
  width: 100%;
  padding: 14px 16px;

  border: none;
  border-radius: var(--radius-md);

  background-color: var(--color-text);
  color: var(--color-white-soft);

  font-size: 1rem;
}

.input::placeholder {
  color: var(--color-text-soft);
}

/*No tocar, esto evita que el autocompletar de chrome rompa 
todo el estilo del input*/
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--color-text) inset;
    -webkit-text-fill-color: var(--color-white-soft);
    transition: background-color 5000s ease-in-out 0s;
}