.gab-agenda {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 32px 32px;
}

.gab-agenda-card {
  padding: 24px;
  overflow: hidden;
}

@media (max-width: 720px) {
  .gab-agenda {
    padding: 16px;
  }

  .gab-agenda-card {
    padding: 16px;
  }
}